.container{
    display:flex ;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: #fefefe;
    padding: 0.7rem 0rem;
    border-top: 1px solid #b6b6b6;
    border-bottom: 1px solid #b6b6b6;
    border-width: 0.5px;
}
a{
    text-decoration: none;
    color: #1f1f1f;
}
a:hover{
    text-decoration: underline;
}