.container {
    padding: 20px;
    background-color: #f5f5f5;
}

.cards-grid {
    display: grid;
    // Cada tarjeta tendrá un ancho mínimo de 280px y se ajustará automáticamente al espacio disponible
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 24px;
    padding-top: 20px;
}

// Centrar el spinner de carga
.spinner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
