<nav>
    <div class="left-part">
        <a href="/">
            <img src="/webicon.svg" alt="Vinilo Vibes Logo">
        </a>
        <p>Vinilo Vibes</p>
    </div>
    <div class="right-part">
        <button matIconButton routerLink="/profile" aria-label="Ir a tu perfil">
            <mat-icon>person</mat-icon>
        </button>
        <button matIconButton routerLink="/search" aria-label="Buscar vinilos">
            <mat-icon>search</mat-icon>
        </button>
        <button matIconButton routerLink="/cart" aria-label="Ver carrito de compras">
            <mat-icon [matBadge]="cartService.cartCount()" [matBadgeHidden]="cartService.cartCount() === 0"
                aria-hidden="false">shopping_bag</mat-icon>
        </button>
    </div>

</nav>