<nav>
    <div class="left-part">
        <a href="/">
            <img src="/webicon.svg" alt="Vinilo Vibes Logo">
        </a>
        <p>Vinilo Vibes</p>
    </div>
    <div class="right-part">
        <mat-icon routerLink="/profile">person</mat-icon>
        <mat-icon routerLink="/">search</mat-icon>
        <mat-icon routerLink="/cart" [matBadge]="cartService.cartCount()"
            [matBadgeHidden]="cartService.cartCount() === 0" matBadgeColor="accent">shopping_bag</mat-icon>
    </div>

</nav>