/* Estilos para todas las cards */ 
mat-card {
    background-color: #ebebeb;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 490px;
}

/* Mismo tamaño para todas las Imagenes */
mat-card img {
    width: 100%;
    height: 320px;
    object-fit: cover;
}