mat-card {
    background-color: #ebebeb;
    overflow: hidden;


}

/* Mismo tamaño y color para todas las Cards */
.vinyl-card-material {
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    height: 520px;
}

/* Mismo tamaño para todas las Imagenes */
.vinyl-card-material img {
    width: 100%;
    height: 320px;
    object-fit: cover;
}

mat-card-actions {
    margin-top: auto;
}