/* Estilos Generales del Footer */
footer {
    background-color: #fefefe;
    padding: 1.5rem 1.5rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.05);
}

footer div p {
    font-size: 0.85rem;
    color: #7f8c8d;
    margin: 0;
}

footer a{
    font-weight: bold;
    color: #7f8c8d;
    text-decoration: none;
}

footer a:hover{
    color:#454747
}